* {
    text-decoration: none;
}

/* Área do Header */

.navbar, footer {
    background-color: #205186;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #205186;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand {
    font-family: Roboto, sans-serif;
}

.navbar-brand a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

button.navbar-toggler,
.navbar-toggler {
    border-color: transparent;
}

.icon-branco {
    color: #fff;
    font-size: 30px;
}

/* Área do Carousel */

.carousel-inner img {
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

}

/* Área Sobre Nós */

.sobre-nos-mexer {
    padding-bottom: 15px;
}

/* Área de Membros */

.card {
    border: none;
    text-align: center;
}

.card img {
    margin-top: 35px;
}

.card-title {
    margin-top: 10px;
    font-weight: bold;
}

.card-text {
    color: #777;
}

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* Área do Formulário */

.row-form1 {
    justify-content: space-evenly;
}

.button-form {
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 16px;
    max-width: 120px;
}

.button-container {
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

@media (max-width: 767px) {
    .button-container {
        text-align: center; /* Centralize o conteúdo horizontalmente */
    }

    .button-form {
        width: 100%; /* Ocupa todo o espaço disponível na largura do contêiner pai */
        max-width: none; /* Remova a largura máxima anterior */
    }
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    padding: 8px;
}

form {
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    max-width: 360px;
}

@media (max-width: 767px) {
    form {
        width: 80%; /* Conteúdo com 80% da largura da tela */
        max-width: none; /* Removendo a largura máxima anterior */
        margin: 0 auto; /* Centralizar horizontalmente */
    }

    .form-campo input,
    .form-campo textarea {
        width: 100%; /* Defina a largura dos campos para 100% */
        box-sizing: border-box; /* Adicione isso para garantir que o padding não aumente o tamanho total */
    }
}

/* Botão do WhatsApp */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-button i {
    margin: 0;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

/* Área do Footer */

.footer {
    color: #fff; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
}

/* Estilize o menu de links */
.footer__menu {
    list-style: none; /* Remova os marcadores de lista */
    text-align: center; /* Centralize os itens horizontalmente */
}

.footer__menu li {
    margin-bottom: 10px; /* Espaçamento inferior entre os itens do menu */
    display: inline-block; /* Exiba os itens em linha */
    margin: 0 10px; /* Espaçamento horizontal entre os itens do menu */
}

.footer__menu a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remova a sublinhado dos links */
    transition: color 0.3s; /* Adicione uma transição de cor suave */
}

.footer__menu a:hover {
    color: #00c853; /* Cor dos links ao passar o mouse */
}

/* Estilize a seção de redes sociais */
.footer__socials ul {
    list-style: none; /* Remova os marcadores de lista */
    padding: 0; /* Remova o espaçamento interno */
    display: flex; /* Exiba os ícones de redes sociais em linha */
    justify-content: center; /* Centralize os ícones horizontalmente */
}

.footer__socials li {
    margin: 0 10px; /* Espaçamento entre os ícones de redes sociais */
}

/* Estilize o texto na parte inferior */
.footer__bottom {
    background-color: #18406b;
    text-align: center; /* Centralize o texto horizontalmente */
    margin-top: 20px; /* Espaçamento superior entre o texto e o conteúdo acima */
    padding: 16px 0;
}

.footer__bottom p {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 0 10px;
}

.footer__right {
    /* flex: 1; Isso faz com que a div ocupe todo o espaço disponível horizontalmente */
    text-align: center; /* Centralize o texto horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize os elementos verticalmente */
}

.footer__top {
    display: flex; /* Use flexbox para alinhar as divs horizontalmente */
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 16px 0;
    font-size: 16px;
}

@media (max-width: 767px) {
    .footer__top {
        display: block;
    }

    .footer__menu {
        display: contents;
        padding-left: 0px;
    }

    .footer__left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

    .footer__left li {
        margin-top: 10px;
    }

    .footer__bottom {
        margin-top: 0px;
    }

    .footer__right {
        border-bottom: 1px solid #fff;
        margin: 0 10%;
    }
}

.footer__left > * {
    flex: calc(50% - 10px); /* 50% - margem entre os itens */
    margin-right: 20px; /* Espaçamento entre os itens */
    margin-bottom: 20px; /* Espaçamento abaixo dos itens */
    box-sizing: border-box; /* Evita que a margem adicione à largura total */
}

.footer__left {
    display: flex;
    justify-content: flex-end;
    /* flex: 1; Isso faz com que a div ocupe todo o espaço disponível horizontalmente */
    align-items: center;
}