* {
    text-decoration: none;
}

/* Área do Header */

.navbar, footer {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand {
    font-family: Roboto, sans-serif;
}

.navbar-brand a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

button.navbar-toggler,
.navbar-toggler {
    background-color: #ffeae6;
}

/* Área do Carousel */

.carousel-inner img {
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

}

/* Área de Membros */

.card {
    border: none;
    text-align: center;
}

.card img {
    margin-top: 35px;
}

.card-title {
    margin-top: 10px;
    font-weight: bold;
}

.card-text {
    color: #777;
}

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* Área do Formulário */

.button-form {
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 16px;
    max-width: 120px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    padding: 8px;
}

form {
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    max-width: 360px;
}

@media (max-width: 767px) {
    form {
        width: 80%; /* Conteúdo com 80% da largura da tela */
        max-width: none; /* Removendo a largura máxima anterior */
        margin: 0 auto; /* Centralizar horizontalmente */
    }

    .form-campo input,
    .form-campo textarea {
        width: 100%; /* Defina a largura dos campos para 100% */
        box-sizing: border-box; /* Adicione isso para garantir que o padding não aumente o tamanho total */
    }
}

/* Botão do WhatsApp */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-button i {
    margin: 0;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

/* Área do Footer */

.x-footer-2022 {
    color: #fff; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
}

/* Estilize o menu de links */
.x-footer-2022__menu {
    list-style: none; /* Remova os marcadores de lista */
    text-align: center; /* Centralize os itens horizontalmente */
}

.x-footer-2022__menu li {
    margin-bottom: 10px; /* Espaçamento inferior entre os itens do menu */
    display: inline-block; /* Exiba os itens em linha */
    margin: 0 10px; /* Espaçamento horizontal entre os itens do menu */
}

.x-footer-2022__menu a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remova a sublinhado dos links */
    transition: color 0.3s; /* Adicione uma transição de cor suave */
}

.x-footer-2022__menu a:hover {
    color: #00c853; /* Cor dos links ao passar o mouse */
}

/* Estilize a seção de redes sociais */
.x-footer-2022__socials ul {
    list-style: none; /* Remova os marcadores de lista */
    padding: 0; /* Remova o espaçamento interno */
    display: flex; /* Exiba os ícones de redes sociais em linha */
    justify-content: center; /* Centralize os ícones horizontalmente */
}

.x-footer-2022__socials li {
    margin: 0 10px; /* Espaçamento entre os ícones de redes sociais */
}

/* Estilize o texto na parte inferior */
.x-footer-2022__bottom {
    background-color: #c9553c;
    text-align: center; /* Centralize o texto horizontalmente */
    margin-top: 20px; /* Espaçamento superior entre o texto e o conteúdo acima */
    padding: 16px 0;
}

.x-footer-2022__bottom p {
    font-size: 12px;
}

.x-footer-2022__right {
    /* flex: 1; Isso faz com que a div ocupe todo o espaço disponível horizontalmente */
    text-align: center; /* Centralize o texto horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize os elementos verticalmente */
}

.x-footer-2022__top {
    display: flex; /* Use flexbox para alinhar as divs horizontalmente */
    justify-content: space-evenly;
    padding: 16px 0;
    font-size: 16px;
}

.x-footer-2022__left {
    display: flex;
    justify-content: flex-end;
    /* flex: 1; Isso faz com que a div ocupe todo o espaço disponível horizontalmente */
    align-items: center;
}